SECRET_KEY = 
DEBUG = 

EMAIL_HOST = 
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
EMAIL_PORT = 
EMAIL_USE_TLS = 
DEFAULT_FROM_EMAIL = 

ESEWA_PRODUCT_CODE=
ESEWA_SECRET_KEY=
ESEWA_PAYMENT_URL=
ESEWA_VERIFY_URL=

SENTRY_DSN=

CLOUD_NAME = 
API_KEY = 
API_SECRET = 

SITE_URL = 

DATABASE_URL = 