{% extends 'kartapp/base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">

    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->

        <div class="row">
            <aside class="col-lg-9">


                <div class="card">
                    <h5 class="card-header">Shipping Address</h5>
                    <div class="card-body">

                        <p class="card-text">{{ order.full_name }}</p>
                        <p class="card-text">{{ order.full_address }}</p>
                        <p class="card-text">{{ order.city }} , {{ order.state }} , {{ order.country }}</p>
                        <p class="card-text">{{ order.email }} </p>
                        <p class="card-text">{{ order.phone }} </p>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Payment Method</h5>
                    <div class="card-body">
                        {% if order.payment_option == 'esewa' %}
                        <img src="{% static 'kartapp/images/misc/esewa.png' %}" class="img-fluid" alt="eSewa"
                            style="width: 80px;">
                        {% elif order.payment_options == 'khalti' %}
                        <p>Khalti</p>
                        {% else %}
                        <img src="{% static 'kartapp/images/misc/cash.jpg' %}" class="img-fluid" alt="eSewa"
                            style="width: 80px;">
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Review products</h5>
                    <div class="card-body">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="300">Quantity</th>
                                    <th scope="col" width="120">Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.image.url }}"
                                                    class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {{item.variation_category | capfirst}} :
                                                    {{item.variation_value | capfirst}}
                                                    <br />
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{ cart_item.quantity }}</label>   
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">Rs {{ cart_item.sub_total }}</var>
                                            <small class="text-muted">Rs {{ cart_item.product.price }} each </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </aside> <!-- col.// -->
            <aside class="col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Sub Total :</dt>
                            <dd class="text-right">Rs {{ total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right">Rs {{ tax }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong>Rs {{ grand_total }}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            {% if order.payment_option == 'esewa' %}
                            <img src="{% static 'kartapp/images/misc/esewa.png' %}" class="img-fluid" alt="eSewa"
                                style="width: 60px;">
                            {% elif order.payment_options == 'khalti' %}
                            <p>Khalti</p>
                            {% else %}
                            <p class="text-center">Cash on delivery</p>
                            {% endif %}
                        </p>
                        {% if order.payment_option == 'esewa' %}
                        <form action="{{ esewa_url }}" method="POST">
                        <input type="text" id="amount" name="amount" value="{{ total }}" required>
                        <input type="text" id="tax_amount" name="tax_amount" value ="{{ tax }}" required>
                        <input type="text" id="total_amount" name="total_amount" value="{{ grand_total }}" required>
                        <input type="text" id="transaction_uuid" name="transaction_uuid" value="{{ transaction_uuid }}" required>
                        <input type="text" id="product_code" name="product_code" value ="{{ product_code }}" required>
                        <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
                        <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                        <input type="text" id="success_url" name="success_url" value="{{ success_url }}" required>
                        <input type="text" id="failure_url" name="failure_url" value="{{ failure_url }}" required>
                        <input type="text" id="signed_field_names" name="signed_field_names" value="{{ signed_field_name }}" required>
                        <input type="text" id="signature" name="signature" value="{{ signature }}" required>
                        <input value="Make Payment" type="submit" class="btn btn-primary btn-block">
                        </form>
                        {% else %}
                        <a href="{% url 'payment_success' %}?order_number={{ order.order_number }}" type="submit" class="btn btn-primary btn-block"> Make Payment </a>
                        {% endif %}
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>

{% endblock content%}