{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2025 ClickShop </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span class="px-2">sushanklamsal.com.np</span>
				<span class="px-2">+977 9808944642</span>
				<span class="px-2">Gongabu, Kathmandu</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<img src="{% static 'kartapp/images/misc/esewa.png' %}" class="img-fluid" alt="eSewa"
					style="width: 60px;">
				<img src="{% static 'kartapp/images/misc/khalti.png' %}" class="img-fluid" alt="khalti"
					style="width: 70px;">
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->